<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aksiedentje</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Aksiedentje</h1>

    <div class="card">
      <pre>Het was op een paasnacht
Het uur draaide zowaar vooruit
en in die sprong, floepte je eruit.
Je bestond bijna niet, wie had dat verwacht.
Hoe graag je nu ook winkelen gaat
dat is niet altijd zo geweest.
Naar de Colruyt gaan met jou, was echt geen feest.
Maar nu sta je wel steeds paraat.
Enzo ga je wel eens graag op stap
Gewoon of met een verkleedpartij
Al maak je dan met je fiets een klap
Je bent er altijd geirne bij
Maar ga nu maar weer flink studeren
maar crimineel fijn worden, moet je niet meer leren

Happy Birthday lieve zus
Op je, wacht he, even checken
Ik denk 21e; dan mag je een binnentrekken
Hopelijk is dat beter dan een kus

Oslo is misschien koud en sneeuwig
In ons hart blijf je altijd warm
Hart van mij is misschien wel wat warmte-arm
Ook al heb je hier een klein plekje voor eeuwig

Eerste letters van elke regel hebben
Regelmatig geen betekenis van horen zeggen</pre>
      <br>
      <img src="{{ url_for('static', filename='ma-pa-jut1.jpg') }}" alt="Photo" class="photo">
      <img src="{{ url_for('static', filename='ma-pa-jut2.jpg') }}" alt="Photo" class="photo">
      <img src="{{ url_for('static', filename='ma-pa-jut3.jpg') }}" alt="Photo" class="photo">
      <br>
      <button onclick="window.location.href='/'">Terug</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>