<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cato</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Cato</h1>

    <div class="card">
      <pre>Liefste zjutttt, what a shame dat we jouw verjaardag niet samen hebben kunnen vieren met jou, zo spijtig dat zullen we deze zomer dubbel en dik moeten inhalen 😛😛😛. Ik hoop dat je het beste haalt uit je onvergetelijke erasmus ervaring, je zal daar sws nog keiveel aan terug denken gelek binnen 100 jaar (immortal powers). Je bent nu een aantal maanden al ver weg van ons, en ik moet toegeven dat jouw afwezigheid een voelbare leegte achterlaat die best zo snel mogelijk wordt opgevuld (lees: jij komt terug naar belgieland!!!). maar oke we zullen je nog wat laten genieten van de scandinavische contrijen voordat je moet returneren naar dit saaie (warmere) landje. we hebben tenminste nog je entertaining snapchat verhalen en occasionele updates om van te genieten ☺️. 
Ik stuur je kusjes en knuffels biicchh

Je kapoen 
Kato

(geen AI werd ingeschakeld voor het genereren van deze tekst)</pre>
      <br>
      <img src="{{ url_for('static', filename='') }}" alt="Photo" class="photo">
      <br>
      <button onclick="window.location.href='/'">Terug</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>