<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fjordverdriet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Fjordverdriet</h1>

    <div class="card">
      <pre>Mijn liefste,

Reeds 4381 lange dagen en koude nachten sinds je vertrek en elke nieuwe ochtend lijkt slechts een bleke herhaling van de vorige. Telkens ik langs uw vroegere verblijf wandel (en Bent op zijn terrasje zie zitten), overvalt mij de grauwheid van deze stad zonder u hier. De stad mist haar kleur, haar warmte, haar ziel, nu gij haar niet langer met uw aanwezigheid verlicht. 

Soms, wanneer een zoete geur mij tegemoet waait in de straten (een geur die mij vaag herinnert aan vanille), word ik herinnerd aan de leegheid in mijn hart (uiteraard op een puur platonische en niet-lesbische manier).

En toch, mijn lief, zijn het vooral de avonden die mij het zwaarst vallen. De feestjes die men hier nog tracht te organiseren zijn slechts schimmen van wat zij ooit waren. Niemand hier licht op zoals gij bij de eerste tonen van Sabrina Carpenter. Hoe klein dat kamertje ook was, het voelde als een wereld op zich wanneer gij er waart

En dan was er dat vreemde toestel dat gij zo koesterde: de airfryer. Hoe vaak hebt gij mij niet verleid met die kleine, knapperige snacks die gij erin bereidde. Hoewel ik er sindsdien nog gegeten heb, bracht geen enkele dezelfde warmte vanbinnen als die van u.

Uw woorden uit Oslo zijn mijn anker. Het troost mij dat gij mij zo nauwgezet op de hoogte houdt van uw leven in dat verre Oslo. Uw berichten zijn als kleine straaltjes licht die door de kieren van mijn dagen vallen. Gij schrijft mij over uw wandelingen door de koude straten, over de mensen die gij ontmoet, over de maaltijden die gij proeft (ondanks mijn allergieën wil ik lowkey brown cheese proeven nu). Zelfs uw eeuwige liefde voor Vaseline reist met u mee; gij vertelt mij hoe gij daar nieuwe potjes hebt ontdekt, alsof gij een verborgen schat hebt gevonden. Ik stel mij voor hoe gij daar in Oslo rondwandelt, gewapend met uw potje Vaseline alsof het een schild is tegen de barre Noorse winden.

Blijf veilig, mijn lief.
Tot de dag waarop uw voetstappen opnieuw mijn drempel raken.
(Puur platonische groetjes, Marid)</pre>
      <br>
      <img src="{{ url_for('static', filename='') }}" alt="Photo" class="photo">
      <br>
      <button onclick="window.location.href='/'">Terug</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
