<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lesbian</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Lesbian</h1>

    <div class="card">
      <pre>Dag beste collega jutte
Ik ben heel dankbaar dat ik je beter heb leren kennen doorheen de jaren. Het begon natuurlijk allemaal op de schoolbanken en dan verschoven we ons naar de bank in het klokhuis! We amuseren ons altijd, als het nu een cocktail of een dumbell in de handen is. Ook bij het studeren motiveer je me om toch nog even door te zetten zodat we het jaar daarna weer naast elkaar kunnen zitten en zeker flink gaan opletten ;). Ik kijk uit naar de vele jaren en avonturen die nog zullen komen!

Met vriendelijke groenten
Noor</pre>
      <br>
      <img src="{{ url_for('static', filename='') }}" alt="Photo" class="photo">
      <br>
      <button onclick="window.location.href='/'">Terug</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>