<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seks</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Seks</h1>

    <div class="card">
      <pre>HEY JUTTE
Ik mis je
Kom terug uit oslo
Nee grapje HEYY HAPPY BDAY EN JOEPIE TRISTAN IS BIJ JOU geef haar nu een zoen ok uhmmm
Dus
Vind je ook da dit idee SUPER COOL is en amazing en da het leuker is dan whatever saai boek op je lijstje stond no offense? Ik ook!
Weet je nog toen je vroeg wat je ging krijgen van trissy? Waarom ben je zo nosy anyways ik kon dit niet eens uitgelegd hebben ik ben zo excited om het resultaat te zien
Ik lig op de vloer dit te typen rn kweet nie wat er nog bij moet ngl
I LOVE YOU!
Ooit gaan we samen naar oslo en gaan we naar espresso house TRUST
P.s. kheb een paar complimenten: je nieuwe haarkleur is amazing en slay en diva, je bent ZO GOED BEZIG voor school ultra locked in queen EN ik hou van onze vlogs ok da was alles doei bye xoxox</pre>
      <br>
      <img src="{{ url_for('static', filename='jutte-en-mare.jpg') }}" alt="Photo" class="photo">
      <br>
      <button onclick="window.location.href='/'">Terug</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
