<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Troela</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Troela</h1>

    <div class="card">
      <pre>Jow girlie, Nina hierrr
Ur so far away, de jannies nu maar met vier :((
Troelaconsumptie in Hamme met 50% naar beneden..
Terwijl jij je avontuurtje hebt in Noorwegen..
Echter moet ik je geen schuldgevoel aansmeren!

Wel gauw zal je terugkeren 😊
Eigenlijk wil ik je vooral nog super veel plezier wensen daar in het noorden

Maar ga heel blij zijn als je terug bent in onze oorden :))
Ik hoop dat je nog enorm geniet van je uitwisseling
Sebiet zal je het allemaal kunnen vertellen in onze vriendenkring!
Sfeer en gezelligheid mag je verwachten als je terugkomt nach Belgien

Yas girl, kunnen we terug het Wicked-melodietje neuriën
Oslo, geef Jutte nog fantastische laatste maandjes
Uiteraard vieren we je terugkomst dan met de andere jannie-haantjes 😋

(P.S. zoek de secret zin 🔎)</pre>
      <br>
      <button onclick="window.location.href='/'">Terug</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
