<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vanillejenever</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Vanillejenever</h1>

    <div class="card">
      <pre>Yooooo Jutte 😎 type shittt

Eerst en vooral GELUKKIGE VERJAARDAG 🗣️ hopelijk de laatste die we niet samen in de Janeiro vieren (of int Klokhuis als de Rouge daar nog steeds zo goedkoop staat...? 😜). 
Oke nu dat die formaliteit uit de weg is... nenene grapje da was super gemeend maar ik (en bij uitbreiding iedereen behalve jorit ofzo want idk bro haat ons) mis u echt hard ☝️ lowkey het ei in de mayonnaise van onze groep (als in je zorgt voor de binding twin)
Dus kom godverdomme snel terug da we goed kunnen feesten en dat jij eindelijk eens volledig droeloe wordt! ‼️ (slang voor dronken) Allez no pressure eh... (ik word ook heel jaloers van alle coole dingen die je doet, WTF letterlijk bij rendieren gestaan irl en Petra De Sutter gezien... peak)
Als laatste moet ik ook de olifant in de kamer even benoemen, SUCCES MET BACHELORPROEF LOCK IN JE KAN HET XO

Je lieve kapoen
Jonas</pre>
      <br>
      <img src="{{ url_for('static', filename='jonas-en-ferre.png') }}" alt="Photo" class="photo">
      <br>
      <button onclick="window.location.href='/'">Terug</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>
